<% title "Module 1 : Marine Fisheries" %>



		<h3>Survey</h3>
			<ul>
				<li><%= link_to "SL4", slfours_path %></li>
				<li><%= link_to "SL5", slfives_path %></li>
				<li><%= link_to "SL6", slsixes_path %></li>
			</ul>
		<h3>Estimation</h3>
			<ul>
				<li><%= link_to "EL4", elfours_path %></li>
			</ul>

		<h3>Reporting</h3>
