<% title "Login" %>

<div id="login_container">
	<div id="login" class="round center">
		<div id="login_header">
			<h1>SISKA+</h1>
		</div>
		<div id="login_body" class=""> 		
		
			<%= render :partial => "shared/login" %>	
	
		</div>	
	</div>
</div>